input{
    margin-top: 10px;
}
.marco{
    border: 3px solid gray;
    padding-bottom: 10px;
    border-radius: 15px; 
    background-color: rgba(0, 0, 0, 0.6);
    /* backdrop-filter: blur(3px); */
}
#err_matricula{
    font-weight: 650;
    color: rgba(0, 0, 0, 0);
    cursor:default;
}
.fondo{
    background-image: url('../image/creacion_imagen_reparacion3.jpg');
    background-size: cover;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
}
.full-height{
    height: 100vh;
}